<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">


</head>
<body class="maincon">

	<header>
		<div class="jumbotron text-center">
		<h1>Youtube Comments Spam Detection</h1>
		<p class="text-muted font-weight-bold">Machine Learning Web Application </p>
		</div>
	</header>

	<div class="container p-3 my-3 text-white text-justify" >
		<div class="row">
		<div class="col-xl-12">
		<div class="form-group">
			<form action="{{ url_for('predict')}}" method="POST">
			<p class="font-weight-bold">Enter Your Comment Here :</p>
			<!-- <input type="text" name="comment"/> -->
			<textarea name="comment" rows="5" cols="80" class="text-justify"></textarea>
			<br/>
			<button type="submit" class="btn btn-primary font-weight-bold text-white">Predict</button>
			</form>
		</div>	
		</div>	
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	
</body>
</html>

